# these variables have to be defined in the environment
# and are not configurable via the server but only via
# direct (terminal) access

ACROPOLIS_HARDWARE_LOCKFILE_PATH=""
ACROPOLIS_SIMULATION_MODE="False"
ACROPOLIS_LOG_TO_FILE="True"
ACROPOLIS_LOG_TO_CONSOLE="False"
GMP343_SENSOR_POWER_PIN_OUT = 20
GMP343_SENSOR_SERIAL_PORT = "/dev/ttySC0"