
services:
  init_service:
    image: alpine/git
    volumes:
      - demo-controller-git-data:/git_repo
    command: "-C \"/git_repo\" fetch -v || clone -v https://github.com/tum-esm/thingsboard-edge-gateway.git /git_repo"

  gateway:
    tty: true
    restart: unless-stopped
    depends_on:
      init_service:
        condition: service_completed_successfully
    build:
      context: ../
      dockerfile: ./Dockerfile
    command: --tb-host ${TEG_TB_HOST} --tb-port ${TEG_TB_PORT}
    volumes:
      - thingsboard-edge-gateway-data:/teg_data
      - demo-controller-git-data:/git_repo
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - TEG_DATA_PATH=/teg_data
      - TEG_CONTROLLER_GIT_PATH=/git_repo/.git
      - TEG_DEFAULT_CONTROLLER_VERSION=e3c42b3b1d53947a8d8ada9cf13821dfa5c1d146
      - TEG_CONTROLLER_DOCKERFILE_PATH=./example_controller_Dockerfile
      - TEG_CONTROLLER_PROJECT_PATH=/git_repo/demo/

volumes:
  thingsboard-edge-gateway-data:
  demo-controller-git-data:
