
services:
  init_service:
    image: alpine/git:2.52.0
    volumes:
      - demo-controller-git-data:/git_repo
    command: "-C \"/git_repo\" fetch -v || clone -v https://github.com/tum-esm/thingsboard-edge-gateway.git /git_repo"

  tb-postgres:
    restart: unless-stopped
    image: "postgres:16"
    ports:
      - "5432"
    environment:
      POSTGRES_DB: thingsboard
      POSTGRES_PASSWORD: postgres
    volumes:
      - tb-postgres-data:/var/lib/postgresql/data

  thingsboard:
    restart: unless-stopped
    image: "thingsboard/tb-node:4.2.1.1"
    ports:
      - "8080:8080"
      - "1883:1883"
      - "5683-5688:5683-5688/udp"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
    environment:
      TB_SERVICE_ID: tb-ce-node
      SPRING_DATASOURCE_URL: jdbc:postgresql://tb-postgres:5432/thingsboard

    depends_on:
      - tb-postgres

  nginx:
    image: nginx:latest
    container_name: tb_reverse_proxy
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - type: bind
        source: ./server_cert.pem
        target: /ssl/server_cert.pem
      - type: bind
        source: ./server_key.pem
        target: /ssl/server_key.pem
    ports:
      - "8843:8843"

  gateway:
    tty: true
    restart: unless-stopped
    depends_on:
      init_service:
        condition: service_completed_successfully
    build:
      context: ../
      dockerfile: ./Dockerfile
    command: --tb-host nginx --tb-port 8843
    volumes:
      - demo-controller-git-data:/git_repo
      - /var/run/docker.sock:/var/run/docker.sock
      - ${TEG_DATA_PATH}:${TEG_DATA_PATH}
      - ./server_cert.pem:/server_cert.pem
    environment:
      - TEG_DATA_PATH=${TEG_DATA_PATH}
      - TEG_CONTROLLER_GIT_PATH=/git_repo/.git
      - TEG_DEFAULT_CONTROLLER_VERSION=d7d08164570747225d050b7a34db4b71237272c0
      - TEG_CONTROLLER_DOCKERFILE_PATH=./example_controller_Dockerfile
      - TEG_CONTROLLER_PROJECT_PATH=/git_repo/demo/
      - TEG_CONTROLLER_DATA_PATH=${TEG_DATA_PATH}
      - THINGSBOARD_PROVISION_DEVICE_KEY=cl4ozm17lhwpafnz8jau
      - THINGSBOARD_PROVISION_DEVICE_SECRET=7jemz65a0498pb5wzuk8
      - THINGSBOARD_CA_CERT=/server_cert.pem
volumes:
  demo-controller-git-data:
  tb-postgres-data:
    name: tb-postgres-data
    driver: local
