
services:
  init_service:
    image: alpine/git
    volumes:
      - demo-controller-git-data:/git_repo
    command: "-C \"/git_repo\" fetch -v || clone -v https://github.com/tum-esm/thingsboard-edge-gateway.git /git_repo"

  gateway:
    tty: true
    restart: unless-stopped
    depends_on:
      init_service:
        condition: service_completed_successfully
    build:
      context: ../
      dockerfile: ./Dockerfile
    command: --tb-host ${TEG_TB_HOST} --tb-port ${TEG_TB_PORT}
    volumes:
      - demo-controller-git-data:/git_repo
      - /var/run/docker.sock:/var/run/docker.sock
      - ${TEG_DATA_PATH}:${TEG_DATA_PATH}
    environment:
      - TEG_DATA_PATH=${TEG_DATA_PATH}
      - TEG_CONTROLLER_GIT_PATH=/git_repo/.git
      - TEG_DEFAULT_CONTROLLER_VERSION=d7d08164570747225d050b7a34db4b71237272c0
      - TEG_CONTROLLER_DOCKERFILE_PATH=./example_controller_Dockerfile
      - TEG_CONTROLLER_PROJECT_PATH=/git_repo/demo/
      - TEG_CONTROLLER_DATA_PATH=${TEG_DATA_PATH}

volumes:
  demo-controller-git-data:
